@{
    ViewBag.Title = "Contact";
}
<h2>     </h2>
<div class="img-responsive">
    <img src="~/img/WebDevContactMaham.jpg" alt="Maham" />
    <img src="~/img/WebDevContactHasan.jpg" alt="Hasan" />
</div>
<address>
    Habib University<br />
    Gulistan e Johar, Block 16<br />
    <abbr title="Phone">P:</abbr>
    0333-3333333
</address>

<address>
    <strong>Hasan:</strong>   <a href="mailto:sh03476@st.habib.edu.pk">sh03476@st.habib.edu.pk</a><br />
    <strong>Maham:</strong> <a href="mailto:mz04027@st.habib.edu.pk">mz04027@st.habib.edu.pk</a>
</address>